
/*Archive page*/
.single-tour-inner {
  display: block;
  width: 100%;
  min-height: 149px;
  padding: 16px;
  margin: 16px 0;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: default;
  clear: both;
  -webkit-box-align: top;
  -webkit-align-items: top;
  -ms-flex-align: top;
  align-items: top;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.tourfic-single-left {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: main-size;
  -ms-flex-preferred-size: main-size;
  flex-basis: main-size;
  width: 200px;
  height: 200px;
}
.tourfic-single-left img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tourfic-single-right {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex: 1;
  -webkit-flex-basis: 200px;
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px;
  padding: 0 0 0 16px;
}

.tourfic-single-left img {
  border-radius: 3px;
}

.tourfic_hotel-title {
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  display: inline-block;
  margin: 0 !important;
  padding-right: 2px;
  color: #07c;
}
.single-tour-wrap:first-child .single-tour-inner {
    margin-top: 0;
}


.tf_card_address_line, .tf_card_address_line a {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

.tf_property_block_main_row {
    min-height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.tf_item_main_block{
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex: 1;
}
.tf_item_review_block {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-basis: main-size;
    -ms-flex-preferred-size: main-size;
    flex-basis: main-size;
    width: auto;
    max-width: 45%;
}

.reviewFloater {
    margin-left: 24px;
    float: none;
    text-align: right;
}

.sr-review-score__link {
    text-decoration: none;
}

.bui-review-score {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-weight: 500;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.bui-review-score__badge {
    background: #003580;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    vertical-align: baseline;
    border-radius: 6px 6px 6px 0;
    height: 32px;
    width: 32px;
    min-width: 32px;
}

.bui-review-score__content {
    margin-left: 0;
    margin-right: 8px;
    text-align: right;
}

.bui-review-score__title {
    color: #003580;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}

.bui-review-score__text {
    color: #707070;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    margin-top: 4px;
}

.tf_card_address_line a {
    color: #0a75c2;
}

.tf_card_address_line i {
    color: #bdbdbd;
    margin: 0 2px 2px 2px;
    font-size: 4px;
    vertical-align: middle;
}

.tf-hotel__title-wrap {
    margin-bottom: 4px;
}

.tourfic_hotel-title:hover {
    color: #b75f00;
}
.sr_rooms_table_block {
    margin-top: 8px;
}

.room_details {
    border-top: 1px solid #bdbdbd;
    padding-top: 8px;
}

.featuredRooms {
    margin: 0;
    clear: both;
    width: 100%;
    line-height: 18px;
}

.roomrow_flex {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 4px;
    margin: -4px;
    border-radius: 2px;
    line-height: 18px;
    font-size: 13px;
}

.roomName_flex {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-right: 32px;
    width: auto;
    max-width: none;
}



.roomPrice.roomPrice_flex.sr_discount {
    text-align: right;
}

.bui-price-display__value {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: #383838;
}

.availability-btn {
    margin-top: 8px;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;
}

.availability-btn-area {
    text-align: right;
}

.availability-btn i {
    margin-left: 8px;
}

