
.tf_booking-widget {
    background: #febb02;
    background: linear-gradient(to bottom,#febb02 0,#febb02 100%);
    border-color: #cd8900;
    color: #fff;
    padding: 20px;
}

.tf_widget-title {
    font-size: 26px;
    margin-bottom: 10px;
}