/*===============================
=            Buttons            =
===============================*/
.tf_button {
    background: #0071c2;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    border: 1px solid #0071c2;
    border-radius: 2px;

    &:hover{
    	text-decoration: none;
    }
}

/*=====  End of Buttons  ======*/