@charset "UTF-8";

.wootrek-wrap{
    box-sizing: border-box;
}
.wootrek-wrap h2{
  color: #383838;
  font-size: 26px;
  font-weight: 600;
}

/*Slider*/
.slick-list, .slick-slider {
  position: relative;
  display: block;
}

.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: 0;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list, .slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:after, .slick-track:before {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  position: relative;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-initialized .slick-slide, .slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-slide-item {
  float: left;
  width: auto;
  height: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
.slick-slide-item img{
    border-radius: 0;
    height: auto;
}
.slider-nav .slick-slide-item{
    
}
.slider-nav .slick-slide-item img{
    padding: 3px;
}
.swiper-button-prev, .swiper-button-next {
  position: absolute;
  bottom: 50px;
  font-size: 24px;
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  opacity: 0.6;
  cursor: pointer;
  line-height: 1.3;
  color: #07c;
}
.swiper-button-prev:hover, .swiper-button-next:hover {
  opacity: 1;
}

.swiper-button-prev {
  left: 20px;
}

.swiper-button-next {
  right: 20px;
}

.single-slider-wrapper {
  position: relative;
}
.slider-for .slick-slide-item:after {
  content: "";
  position: absolute;
  height: 32%;
  bottom: 0;
  left: 0;
  width: 100%;
  background: black;
  background: -webkit-linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.slider-for .slick-slide-item {
  position: relative;
}
.slider-nav {
    margin-top: 3px;
    margin-bottom: 6px;
}
.slider-nav .slick-slide-item img:hover {
    opacity: .7;
    cursor: pointer;
}
.list-single-main-media {
    border-bottom: 1px solid #83b0d9b5;
    margin-bottom: 15px;
}
/*Description*/
.wt_best-seller {
  display: block;
  color: #febb02;
  font-weight: 700;
  margin-bottom: 10px;
}

.wt_best-seller i {
  color: #fff;
  background: #febb02;
  border-radius: 50%;
  padding: 3px;
  font-size: 14px;
  margin-right: 5px;
  height: 20px;
  width: 20px;
  text-align: center;
}
.wt_property_hightlights_wrapper {
  background: #fff;
  border: 1px solid #cce1ff;
  border-radius: 3px;
  padding: 15px;
  clear: both;
  margin-top: 10px;
  font-size: 14px;
}

.ph-header {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 10px 0;
}

.ph-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ph-list li {
    display: inline-block;
    margin-right: 10px;
    line-height: 1.2;
}
.collapse{
  display: none;
}
/*Sidebar*/
.wt-card {
    background: #e9f0fa;
    text-align: center;
    margin: 10px 0;
    margin-top: 0;
    padding: 20px 15px;
    border-radius: 3px;
}

.main-btn {
    display: block;
    position: relative;
    zoom: 1;
    vertical-align: middle;
    padding: 5px 10px;
    margin: 0;
    background-color: #07c;
    border: 2px solid #fff;
    border-radius: 3px;
    line-height: 1.5;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px #aaa;
    box-shadow: 0 0 3px #aaa;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
}

.main-btn:hover {
    background-color: #003580;
    color: #fff;
    -webkit-box-shadow: 0 0 3px #444;
    box-shadow: 0 0 3px #444;
    text-decoration: none;
}

/*Hotel Title*/
.wt-top-right-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wt-top-right-menu li {
  display: inline-block;
}

#wt_wishlist,
#wt_share {
  width: 25px;
  height: 25px;
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 1.3;
  color: #0077cc;
}
.wt-top-right-menu li {
    position: relative;
}
.wt-top-right-menu a {
  margin-left: 15px;
}
.bui-dropdown--end .bui-dropdown__menu {
  left: auto;
  right: 0;
}

.bui-dropdown--active .bui-dropdown__menu {
  display: block;
}

.bui-dropdown__menu {
  position: absolute;
  right: 0;
  min-width: 12rem;
  top: 100%;
  background: #fff;
  z-index: 200;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 3px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.bui-dropdown__content {
  display: block;
  overflow: visible;
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.bui-dropdown__item, .bui-dropdown__item:visited, .bui-dropdown__item:link {
  position: relative;
  display: flex;
  background: 0;
  border: 0;
  margin: 0;
  min-width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4285714286em;
  padding: 8px 16px;
  white-space: nowrap;
  text-decoration: none;
  color: #383838;
  background-color: #fff;
  align-items: center;
}

.bui-dropdown__item:after {
  content: "";
  display: table;
  clear: both;
}

.bui-dropdown__item-content {
  display: block;
  padding-right: 6px;
  line-height: 24px;
  height: 24px;
}

.bk-icon {
  vertical-align: middle;
  max-width: 256px;
  max-height: 256px;
  overflow: hidden;
}

.bui-dropdown__content li {
  display: block;
}
.bui-dropdown__content li svg {
    margin-right: 4px;
}
.share_center_copy_form.form_substitute {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
}

.share_center_copy_form .share_center_url_input {
    width: auto!important;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 8px;
}
.share_center_url_input:readonly {
    background-color: #ededed;
}
.share_center_copied_message {
    display: none;
}
.share_center_copy_cta.copied .share_center_copy_message {
  display: none;
}
.share_center_copy_cta.copied .share_center_copied_message {
  display: block;
}
.bui-dropdown__item:active {
    background-color: #d9d9d9;
}
.bui-dropdown__item:hover, .bui-dropdown__item:focus {
    background-color: #ededed;
}
.wt_hotel-type-badge {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  vertical-align: middle;
  padding: 0 5px;
  border-radius: 3px;
  background: #aeaeae;
  color: #fff;
  text-align: center;
  margin-right: 4px;
}

.wt_hotel-name {
  margin: 0;
  padding: 0;
  display: inline;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
}

.wt_hotel_ratings {
    position: relative;
    display: inline;
    top: -2px;
    margin-left: 4px;
}

.nowrap {
  white-space: nowrap;
}

.wt_hotel_ratings__stars {
  font-size: 12px;
  color: #feba02;
}
.top-address {
    color: #383838;
    font-size: 14px;
    margin: 8px 0;
    display: inline-block;
}

.top-address i {
    color: #0077cc;
    font-size: 20px;
}

/*Alert*/
.wt-alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border: 1px solid;
  padding: 16px 24px;
  border-radius: 2px;
  margin-bottom: 16px;
  background-color: #f5fbf6;
  border-color: #96d99d;
}

.wt-alert--success .wt-alert__icon {
  color: #077812;
}

.wt-alert__icon {
  width: 24px;
  height: 24px;
}

.wt-alert__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4285714286em;
  padding-left: 16px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.wt-alert__text:last-child {
  margin-bottom: 0;
}

.wt-alert__text:first-child {
  margin-top: 2px;
}

.wt-alert__text {
  margin: 0 0 16px;
}

/*Single Room Type*/
.wt-single-room {
    border-bottom: 1px solid #5bbaff;
}
.wt-room-header, .wt-room-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.wt-cell {
  border-left: 1px solid #5bbaff;
  padding: 6px 8px;
}
.wt-sleeps-block {
    text-align: right;
}
.wt-room-header .wt-cell {
  font-weight: bold;
  color: #fff;
  background-color: #4c76b2;
  border-left: 1px solid #5bbaff;
  padding: 6px 8px;
  min-height: 42px;
  font-size: 14px;
  line-height: 1.1;
}
.wt-room-cell {
    border-right: 1px solid #5bbaff;
}
.wt-reserve-col .wt-cell {
  border-left: 0;
}

.wt-rooms {
  width: 80%;
}

.wt-reserve-col {
  width: 20%;
}

.wt-reserve-cell {
  width: 100%;
}

.wt-room-cell {
  width: 10%;
}

.wt-choice-cell {
  width: 20%;
}

.wt-sleeps-cell {
  width: 10%;
}

.wt-price-cell {
  width: 20%;
}

.wt-room-type-cell {
  width: 40%;
}

.wt-roomtype-link {
  padding-right: 24px;
  position: relative;
  display: block;
  margin-right: 5px;
  font-weight: 700;
}

.wt_rt_room_icon {
  position: absolute;
  top: 0;
  right: 0;
  background: #07c;
  fill: #fff;
  box-shadow: 1px 1px 0 #fff, 3px 3px 0 #07c;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 17px;
  line-height: 21px;
  height: 18px;
  text-align: center;
  width: 21px;
}

.wt-rooms-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}


.wt-choice-list {
  margin-left: 16px;
  padding: 0;
  list-style: none;
  font-size: 12px;
  position: relative;
}

.wt-choice-list li {
  margin-bottom: 8px;
  color: #0ab21b;
  overflow: hidden;
}

.wootrek-wrap {
  line-height: 1.1;
}

.wt-choice-list li i {
  position: absolute;
  left: 0;
  float: left;
  margin-left: -16px;
  margin-top: 4px;
  font-size: 10px;
}

.wt-price-display__value {
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  color: #383838;
}

.wt-taxes-and-fees-under-price {
  font-size: 12px;
  color: #707070;
  font-weight: 400;
}
.short-room-desc {
  color: #747474;
  margin-bottom: 15px;
}

.wt-roomtype-name {
  margin-bottom: 8px;
}

.wt-facilities-list {
  margin-left: 0;
}

.wt-facilities-list li {
  display: inline-block;
  position: relative;
  overflow: inherit;
  margin-left: 16px;
  font-weight: 400;
}

.wt-facilities-list li i {
  margin-left: -12px;
  margin-top: 2px;
}

/*Availability*/

.wootrek-wrap hr {
    margin-bottom: 15px;
    background-color: #83b0d9b5;
    border: 0;
    height: 1px;
}

#availability_target {
    margin-top: 30px;
}
.wt-checkin-field,
.wt-checkout-field {
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
}

.wt-checkin-field input,
.wt-checkout-field input {
  position: relative;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  padding: 9px 35px 9px;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  box-shadow: none;
  font-size: 14px;
}

.wt-checkin-field svg, .wt-checkout-field svg ,
.wt-checkin-field i,
.wt-checkout-field i {
  position: absolute;
  z-index: 9;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
}
.wt-checkin-field i,
.wt-checkout-field i {
  left: unset;
  right: 10px;
}
.wt-checkin-field:hover,
.wt-checkout-field:hover {
  color: #4c76b2;
}
.wt-checkin-field:hover input,
.wt-checkout-field:hover input {
  border-color: #4c76b2;
}
.wt-checkin-field:hover svg,
.wt-checkout-field:hover svg {
  fill: #4c76b2;
}

.hp-section {
    background-color: #e9f0fa;
    padding: 10px;
    margin: 0 0 20px 0;
    border-top: 1px solid #e9f0fa;
    border-bottom: 1px solid #e9f0fa;
    font-weight: normal;
    overflow: hidden;
    border-radius: 3px;
}

.wootrek-wrap, .wootrek-wrap label,.wootrek-wrap input {
    color: #383838;
}



.wt-input-label {
    margin: 0 0 5px 0;
    clear: both;
    display: block;
    font-weight: 700;
    font-size: 14px;
}

.wt-group__field {
    display: inline-block;
    margin-right: 25px;
}

.wt-group__field .wt-input-label {
    display: inline-block;
    font-weight: 400;
    margin-right: 2px;
}

.wt-group__field select {
    width: 40px;
}

.wt_bold_date_picker_wrapper {
    margin-bottom: 0;
}


/*Facilities*/
#wt_facilities_box {
    margin-top: 30px;
}
.facilitiesChecklist, .family-facilities-list {
  clear: both;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

.facilitiesChecklistSection {
  color: #383838;
  width: 235px;
  margin: 18px 10px 0;
  font-size: 13px;
  display: inline-block;
}

.facilitiesChecklistSection h5 {
  font-size: 18px;
  font-weight: normal;
}

.facilityGroupIcon {
  float: left;
  width: 24px;
  margin-right: 6px;
  margin-left: -5px;
  text-align: center;
}

.facilitiesChecklistSection ul {
  list-style: none;
  margin: 8px 0;
  padding: 0;
}

.facilitiesChecklistSection li {
  padding: 3px 0 2px 25px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAAAXNSR0IArs4c6QAAAWJJREFUGBltUU1LQkEUPfc5WVmY5QcmJJooSRmFQQtp06KoFq1q07a/EC2C+gH9gaBV+xZtgmiRuySoFgUFRVJBiB8RGqHZe+8289Ro4eXOnTtnzrl3mEv4Z3fPxXUCrck1weACCOemXt/ZO8nPkIatXLWaFIqfTqeFPzx+RISlll6KXDKPZQv6qiZIMMPuF5rbEgyGE5uy2h+5JXp7r+Hs9sPBICaYpZohDCUg6RtfNQOHmTzGgr1IRpwoVeo4virBMBkdNqL5Sff+3FQwJ+6filEp6ZPPgRJdPJRhGIybl0/ochcaYXnaB6/THlKdNRWUOTptWEx6YJPIdbaCH52tfEFivj57gySjFo94H8EoKyTk60Ys4IDqpsnKs4kBDHm6mmTzUiWqA0vfbaJIjfRb3VJxF6KBHgtm5jyq3wfqIGu1/1aFW8ZcYZNW4sPuU3W2BI0boM3gMnJw26ORwGuL8wsR1nginrjQhAAAAABJRU5ErkJggg==) left 5px no-repeat;
}

.facilityGroupIcon i, .facilityGroupIcon svg {
  position: relative;
  top: -2px;
  max-width: 24px;
  vertical-align: middle;
}

/*Area Info*/
.wt_facilities_score {
    display: inline;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #383838;
    background: #e9f0fa;
    border-radius: 3px;
    padding: 5px;
    vertical-align: middle;
}

.property_page_surroundings_block {
    margin-top: 36px;
}
.wt-poi-list__heading {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  color: #5f5f5f;
}

.wt-surroundings-category {
  width: 95%;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  margin: 0 5% 8px 0;
  float: left;
  width: 45%;
  margin: 0 5% 20px 0;
  box-sizing: border-box;
}

.wt-fac-list {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  -webkit-padding-start: 0;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.bui-list__item {
  padding: 14px 0;
  margin: 0;
  border-bottom: 1px solid #ededed;
}

.hp-poi-list__body {
  margin: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.hp-poi-list__description {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.bui-badge {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5em;
  background-color: #383838;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-weight: 500;
  padding: 0 4px;
  vertical-align: middle;
}

.bui-badge--outline {
  border-color: #383838;
  background: #fff;
  color: #383838;
}

.wt-fac-list .bui-list__item:last-child {
  border-bottom: 0;
  margin-bottom: 8px;
}

.wt-fac-container {
  overflow: hidden;
  margin-top: 30px;
}

/*House Rule*/
#wt_policies_box h2 {
    color: #383838;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 4px;
}

.wt_pb_sub {
    display: block;
    color: #707070;
    font-size: 14px;
}

#wt_policies_box {
    margin-top: 30px;
}
.description {
  padding-bottom: 16px;
  margin: 8px 0;
}

.policy_name {
  float: left;
  clear: left;
  margin-top: 0;
  padding-top: 0;
  margin: 0.6em 0 0.15em;
  border-bottom-width: 0;
  display: table;
  color: #383838;
  font-size: 16px;
  width: 150px;
  padding-left: 0 !important;
}

.policy_name_icon {
  display: table-cell;
  width: 32px;
  vertical-align: middle;
  font-size: 18px;
  text-align: center;
}

.policy_desc {
  padding-left: 165px;
  padding-top: 8px;
}

#wt_policies_box .hp-section {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 25px;
}

/*Sidebar*/
.sb-searchbox-universal {
    color: #383838;
}

.sb-searchbox--painted {
    padding: 16px;
    border-radius: 3px;
    border: 1px solid;
    background: #febb02;
    background: -webkit-gradient(linear,left top,left bottom,from(#febb02),to(#febb02));
    background: -webkit-linear-gradient(top,#febb02 0,#febb02 100%);
    background: linear-gradient(to bottom,#febb02 0,#febb02 100%);
    border-color: #e2aa11;
    font-size: 13px;
    border: 0;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

.autocomplete-active {
  background-color: #0077cc !important; 
  color: #ffffff; 
}

.wt-input-field[type=text], 
.wt-input-field[type=number], 
.wt-input-field[type=email], 
.wt-input-field[type=tel], 
.wt-input-field[type=url], 
.wt-input-field[type=password], 
.wt-input-field[type=search], 
textarea.wt-input-field, 
select.wt-input-field, 
.wt-input-field{
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  display: block;
  width: 100%;
  cursor: pointer;
  box-shadow: none;
  font-size: 14px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#wt-property-search .wt-checkin-field input, 
#wt-property-search .wt-checkout-field input {
    padding: 5px 35px 5px;
}

#wt-property-search .wt-input-label {
    font-weight: 400;
}
#wt-property-search .qty-wrap.row {
    margin-right: -5px;
    margin-left: -5px;
}

#wt-property-search .qty-wrap.row div[class*="col"] {
    padding: 0 5px;
}
.wtsb-submit-button-wrap {
    text-align: right;
    margin-top: 10px;
}

.sb-searchbox__button {
    position: relative;
    cursor: pointer;
    border-radius: 6px;
    font-size: 23px;
    border: 0;
    color: #fff;
    background-color: #07c;
    line-height: 24px;
    padding: 9px 25px;
}
.sb-searchbox__button:hover {
    background-color: #003580;
     color: #fff;
}

/*find similar box css*/
.hp-sidebar-block,.hp_sidebar_usp_box {
    margin: 0 0 10px;
    border-radius: 6px;
    border: 1px solid #cce1ff
}

.hp_sidebar_usp_box {
    border-radius: 3px
}

.hp_sidebar-similar {
    padding: 10px;
    font-size: 1.1em;
    background-color: #e9f0fa
}

.hp-sidebar-similar_header {
    display: block;
    margin-top: 3px;
    margin-bottom: 12px;
    font-size: 14px
}

.hp_sidebar-similar_button {
    background-color: inherit;
    border: 1px solid #537bb4;
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 7px;
    line-height: normal;
    box-shadow: none;
    border-radius: 3px;
    font-weight: 700;
    text-decoration: none;
    color: #707070
}

.hp_sidebar-similar_button:hover {
    background-color: #fff;
    border-color: #003580;
    color: #383838;
    -webkit-box-shadow: none;
    box-shadow: none
}

/*Ques and Ans*/
.new-design__hp-guest-questions .bui-card__content {
  padding: 16px 0;
}

.bui-card__content {
  max-width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

body .bui-f-font-heading, body .bui_font_heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5em;
  color: #000;
}

.bui-title__subtitle {
  color: #707070;
  font-weight: 400;
  line-height: 1.5em;
  margin: 12px 0;
  font-size: 14px;
}

.guest-questions-module {
  margin-top: 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.bui-list__body {
  margin: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.bui-list__description {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  color: #000;
}

.bui-list--text {
  list-style-type: none;
  padding-left: 0;
  margin: 0 0 16px 0;
}

.guest-question-item__answer {
  margin: 8px 0;
}

.guest-question-item__body {
  font-weight: 600;
}

.guest-question-item {
  border-bottom: 0 none;
  border-top: 1px solid #ededed;
  word-break: break-word;
  margin: 0;
  padding: 16px 0;
}

.wt-property-questions {
  padding: 16px 0;
}

/*Archive page*/
.single-tour-inner {
  display: block;
  width: 100%;
  min-height: 149px;
  padding: 16px;
  margin: 16px 0;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: default;
  clear: both;
  -webkit-box-align: top;
  -webkit-align-items: top;
  -ms-flex-align: top;
  align-items: top;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.tourfic-single-left {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: main-size;
  -ms-flex-preferred-size: main-size;
  flex-basis: main-size;
  width: 200px;
  height: 200px;
}
.tourfic-single-left img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tourfic-single-right {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex: 1;
  -webkit-flex-basis: 200px;
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px;
  padding: 0 0 0 16px;
}

.tourfic-single-left img {
  border-radius: 3px;
}

.tourfic_hotel-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  display: inline-block;
  margin: 0 !important;
  padding-right: 2px;
  color: #07c;
}
.single-tour-wrap:first-child .single-tour-inner {
    margin-top: 0;
}


.tf_card_address_line, .tf_card_address_line a {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

.tf_property_block_main_row {
    min-height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.tf_item_main_block{
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex: 1;
}
.tf_item_review_block {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-basis: main-size;
    -ms-flex-preferred-size: main-size;
    flex-basis: main-size;
    width: auto;
    max-width: 45%;
}

.reviewFloater {
    margin-left: 24px;
    float: none;
    text-align: right;
}

.sr-review-score__link {
    text-decoration: none;
}

.bui-review-score {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-weight: 500;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.bui-review-score__badge {
    background: #003580;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    vertical-align: baseline;
    border-radius: 6px 6px 6px 0;
    height: 32px;
    width: 32px;
    min-width: 32px;
}

.bui-review-score__content {
    margin-left: 0;
    margin-right: 8px;
    text-align: right;
}

.bui-review-score__title {
    color: #003580;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}

.bui-review-score__text {
    color: #707070;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    margin-top: 4px;
}

.tf_card_address_line a {
    color: #0a75c2;
}

.tf_card_address_line i {
    color: #bdbdbd;
    margin: 0 2px 2px 2px;
    font-size: 4px;
    vertical-align: middle;
}

.tf-hotel__title-wrap {
    margin-bottom: 4px;
}

.tourfic_hotel-title:hover {
    color: #b75f00;
}
.sr_rooms_table_block {
    margin-top: 8px;
}

.room_details {
    border-top: 1px solid #bdbdbd;
    padding-top: 8px;
}

.featuredRooms {
    margin: 0;
    clear: both;
    width: 100%;
    line-height: 18px;
}

.roomrow_flex {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 4px;
    margin: -4px;
    border-radius: 2px;
    line-height: 18px;
    font-size: 13px;
}

.roomName_flex {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-right: 32px;
    width: auto;
    max-width: none;
}

.room_link {
    color: #000;
}

.roomPrice.roomPrice_flex.sr_discount {
    text-align: right;
}

.bui-price-display__value {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: #383838;
}

.availability-btn {
    margin-top: 8px;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;
}

.availability-btn-area {
    text-align: right;
}

.availability-btn i {
    margin-left: 8px;
}

.wt-room-select {
    width: 48px;
}